.label {
    padding-left: 12px;
    /* writing-mode: vertical-rl; */
    /* text-orientation: upright; */
    font-size: 10px;
    line-height: 15px;
    color: #999;
}

.label-stacked {
    font-size: 6px;
    font-weight: bold;
    /* line-height: 8px; */
    color: #999;
    padding: 0;
    margin: 0;
    /* background-color: red; */
}

.value {
    padding-left: 6px;
}

.value-net {
    font-size: 10px;
}