.value {
    padding-left: 6px;
    padding-top: 3px;
    width: 2em;
    text-align: right;
}

.value-net {
    padding-left: 3px;
    font-size: 10px;
    text-align: right;
    /* width: 5em; */
    min-width: 3em;
}

.meter {
    width: 8px;
    /* background-color:#333; */
    margin-top: 4px;
    margin-bottom: 4px;
    border: solid 1px #555;
}

.icon {
    margin-top: 4px;
    margin-bottom: 4px;
    margin-right: 4px;
}

.net {
    margin-top: 2px;
    margin-bottom: 2px;
}

.chart {
    margin: 6px;
    border: solid 1px #555;
    height: 60px;
    width: 180px;
}

.menu-grid {
    margin: 0;
}

.menu-label {
    padding: 6px 6px 6px 18px;
    text-align: right;
}

.menu-value {
    padding: 6px 18px 6px 6px;
}
