.value {
    padding-left: 6px;
    padding-top: 3px;
    width: 2em;
    text-align: right;
}

.value-net {
    padding-left: 6px;
    font-size: 10px;
    text-align: right;
    width: 4em;
}

.meter {
    width: 10px;
    /* background-color:#333; */
    margin-top: 2px;
    margin-bottom: 2px;
    border: solid 1px #555;
    /* border-radius: 6px; */
}

.label {
    width: 30px;
    /* margin: 3px; */
}