@import url('stylesheet.css');

.chart {
  border: solid 1px #ccc;
}

.chart-label,
.chart-label-then,
.chart-label-now {
  color: #555;
}

.tophat-panel-icon {
  margin: 0;
}

.tophat-panel-usage {
  margin: 0;
}

.tophat-panel-usage-stacked {
  margin: 0;
  min-width: 4.5em;
}

.tophat-panel-inactive {
  min-width: 2em !important;
  width: 2em;
  max-width: 2em;
}
