@import url('stylesheet.css');

.chart {
  background-color: rgba(0, 0, 0, 0.15);
  border: solid 1px rgba(0, 0, 0, 0.3);
}

.chart-label,
.chart-label-then,
.chart-label-now {
  color: #666;
}

.menu-header {
  color: #666;
  font-weight: 900;
}
