.tophat-meter {
    height: 1em;
    margin: 0 0 0 6px;
    padding: 1px;
    border-radius: 0.2em;
    background-color: rgba(0, 0, 0, 0.2);
}

.tophat-meter-bar {
    height: 1px;
    margin: 0 1px 0 0;
}

.tophat-meter-bar:last-child {
    margin-right: 0;
}

.tophat-meter-value-net {
    font-size: 0.7em;
    text-align: right;
    min-width: 5em;
}

.tophat-panel-icon {
    margin: 0 0.03em;
    padding: 0;
}

.tophat-panel-icon-net {
    margin: 0.1em;
}

.tophat-menu-button-box {
    padding: 1em 0 0 0;
    spacing: 2em;
}

.tophat-menu-button-box > StButton {
    border-radius: 2em;
    margin: 0;
    padding: 0.7em;
    min-height: 0.5em;
    min-width: 0.5em;
}

.tophat-menu-button-box > StButton > StIcon {
    icon-size: 1.25em;
}

.tophat-panel-usage {
    text-align: right;
    min-width: 2em;
    margin: 0 0 0 6px;
}

.chart {
    margin: 0.5em 0.25em 0.5em 0.5em;
    border: solid 1px #555;
    height: 6em;
}

.chart-label {
    font-size: 0.8em;
    padding: 0.5em 0;
    color: #999;
}

.chart-label-then {
    font-size: 0.7em;
    color: #999;
    text-align: left;
    padding: 0 0.5em 1em 0.5em;
}

.chart-label-now {
    font-size: 0.7em;
    color: #999;
    text-align: right;
    padding: 0 0.5em 1em 0.5em;
}

.menu-grid {
    /* color: #ddd; */
    margin: 0.25em 0.25em 1em 0.25em;
    padding: 0;
    min-width: 18em;
}

.menu-header {
    /* color: #777; */
    text-align: center;
    font-weight: bold;
    font-size: 0.9em;
    padding: 0.5em;
}

.menu-subheader {
    text-align: center;
    font-size: 0.8em;
}

.menu-label {
    font-size: 1em;
    padding: 0.25em 0.5em;
    text-align: left;
}

.menu-value {
    font-size: 1em;
    padding: 0.25em 0.5em;
    text-align: right;
}

.menu-details {
    font-size: 0.8em;
}

.menu-section-end {
    margin-bottom: 0.5em;
}

.menu-cmd-name {
    font-size: 0.8em;
    text-align: left;
    padding: 0.25em 0.25em 0.25em 0.5em;
    width: 160px;
}

.menu-cmd-usage {
    font-size: 0.8em;
    text-align: right;
    padding: 0.25em 0.5em 0.25em 0;
}

.menu-mem-usage {
    font-size: 0.8em;
    text-align: right;
    padding: 0.25em 0.5em 0.25em 0;
    width: 4em;
}

.menu-disk-activity {
    font-size: 0.8em;
    text-align: right;
    padding: 0.25em 0.5em 0.25em 0;
    width: 5em;
}

.menu-uptime {
    font-size: 0.8em;
    text-align: center;
}

.problem-header {
    margin: 1em;
    /* color: #ddd; */
    font-weight: bold;
    max-width: 15em;
}

.problem-msg {
    margin: 1em;
    /* color: #ddd; */
    max-width: 15em;
}

.problem-details-header {
    margin: 1em 1em 0.25em 1em;
    text-align: center;
    /* color: #777; */
}

.problem-details {
    margin: 1em;
    /* color: #777; */
    max-width: 15em;
}
